<!DOCTYPE html>
<html lang="en">

<body>

    <% countries.forEach(vals=>{%>
        <section>
            <form action="/myRecords" method="POST">
                <h2>
                    <%= vals.country %>
                </h2>
                <input type="hidden" name="country" value="<%= vals.country %>">
                <br>
                <label for="TotalConfirmed">Total Confirmed</label>
                <span id="TotalConfirmed">
                    <%= vals.totalConfirmed %>
                </span>
                <input type="hidden" name="totalConfirmed" value=" <%= vals.totalConfirmed %>">
                <br>
                <label for="TotalDeaths">Total Deaths</label>
                <span id="TotalDeaths">
                    <%= vals.totalDeaths %>
                </span>
                <input type="hidden" name="totalDeaths" value=" <%= vals.totalDeaths %>">
                <br>
                <label for="TotalRecovered">Total Recovered</label>
                <span id="TotalRecovered">
                    <%= vals.totalRecovered %>
                </span>

                <input type="hidden" name="totalRecovered" value="<%= vals.totalRecovered %>">
                <br>

                <span id="date">
                    <%= vals.date %>
                </span>
                <input type="hidden" name="date" value="<%= vals.date %>">

                <input type="submit" value="add-to-my-records">
            </form>
        </section>
        <br>
        <% }) %>


</body>

</html>